<div class="banner">
    <div class="banner-left">
        <img src="https://nataliafajardochaves.github.io/portfolio/assets/img/headshot.png" class="headshot" alt="Natalia Fajardo">
        <div class="social-icons">
            <a href="https://github.com/nataliafajardochaves/" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/nataliafajardochaves/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:nataliafajardo20@outlook.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
    <div class="banner-right">
        <h1>Natalia Fajardo</h1>
        <p>Data Analyst | Business Intelligence</p>
        <h2>Your Headline or Tagline Here</h2>
    </div>
</div>
