<div class="banner" style="background-image: url('https://nataliafajardochaves.github.io/portfolio/assets/img/banner_test.png');">
    <div class="banner-content">
        <img src="https://nataliafajardochaves.github.io/portfolio/assets/img/headshot.png" class="headshot" alt="Natalia Fajardo">
        <h1>Natalia Fajardo</h1>
        <p>Data Analyst | AI Reasearcher </p>
        <div class="social-icons">
            <a href="https://github.com/nataliafajardochaves/" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/nataliafajardochaves/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:nataliafajardo20@outlook.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</div>
